/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* CSS Variables */

:root {
  --white: #ffffff;
  --stone100: #f3e6d8;
  --stone150: #e4ded8;
  --stone600: #5f574e;
  --stone900: #302d2c;
  --brown800: #854632;
  --rose800: #7b284f;
  --rose50: #fff5fa;
}

/* Fonts */

@font-face {
  font-family: outfit;
  src: url(./assets/fonts/outfit/static/Outfit-Regular.ttf) format("truetype");
  font-weight: 400; /* Font weight for normal */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: outfit;
  src: url(./assets/fonts/outfit/static/Outfit-SemiBold.ttf) format("truetype");
  font-weight: 600; /* Font weight for semi-bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: outfit;
  src: url(./assets/fonts/outfit/static/Outfit-Bold.ttf) format("truetype");
  font-weight: 700; /* Font weight for bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: young-serif;
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
  font-weight: 400; /* Font weight for normal */
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 16px;
  background-color: var(--stone150);
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe-container {
  margin: 5rem 20rem;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 40px;
}

.recipe-img {
  border-radius: 15px;
}
